.order
   &__date
      
      &:after
         content: ""
         position: absolute
         bottom: 0
         width: 100px
         height: 2px
         background-color: #000
         right: 0
         margin: 0 auto
         display: block
      &:before
         content: ""
         position: absolute
         bottom: 0
         width: 100px
         height: 2px
         background-color: #000
         right: 0
         margin: 0 auto
         display: block
