.chose-date
   &__items
      display: flex
      justify-content: space-between
      padding-top: 46px
      padding-bottom: 64px
      border-top: 1px solid $gline
      border-bottom: 1px solid $gline
   &__day
      display: flex
      flex-direction: column
   &__name
      margin-bottom: 20px
   &__all-date
      @include dfaj
   &__date-items
      @include dfaj
      flex-direction: column
      border: 1px solid $gline
      width: 88px
      height: 88px
      margin-right: 15px
   &__item-month
   &__item-day
   &__item-day-week
      // chose cinemateatr
   &__cinema
      display: flex
      flex-direction: column
   &__cinema-chose
      margin-top: 13px
      width: 470px
      height: 60px
      background: $gselect
      border: 1px solid $gline
      // box-sizing: border-box
      border-radius: 5px
   &__time
      display: flex
      flex-direction: column
   &__time-chose
      margin-top: 13px
      width: 108px
      height: 60px
      background: $gselect
      border: 1px solid $gline
      border-radius: 5px


   