* {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #621402;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

/* colors */
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-pos {
  padding-top: 31px;
  padding-bottom: 90px;
}

.header__menu {
  display: flex;
  align-items: center;
  margin-right: 57px;
}

.header__nav-items {
  display: flex;
  display: inline-block;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.header__items {
  margin-left: 25px;
  display: inline-block;
}

.header__items-a {
  display: inline-block;
  text-decoration: none;
}

.header__items-a:hover {
  color: #FE8E05;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.header__account {
  display: flex;
  align-items: center;
}

.header__hello {
  display: inline-block;
  margin-right: 11px;
  font-size: 16px;
}

.header__crop {
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.hero {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url(../img/bg.jpg) no-repeat center top/cover;
}

.main__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__text {
  max-width: 50%;
}

.main__suptitle {
  font-size: 24px;
  opacity: 0.5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.main__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin: 11px 0 23px;
}

.main__discription {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

.main__watch {
  margin: auto;
  width: 100px;
  height: 100%;
}

.about-content {
  display: flex;
  margin: 47px 0 62px;
}

.about-content__time {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 34px;
}

.about-content__time-value {
  margin-left: 14px;
  font-size: 16px;
  line-height: 150%;
}

.about-content__raiting {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content__raiting-value {
  margin-left: 14px;
}

.about-content__raiting-imdb {
  font-weight: bold;
  font-size: 24px;
}

.about-content__raiting-max {
  margin-left: 6px;
  font-size: 16px;
  line-height: 150%;
}

.chose-date__items {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.chose-date__day {
  display: flex;
  flex-direction: column;
}

.chose-date__name {
  margin-bottom: 20px;
}

.chose-date__all-date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chose-date__date-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 88px;
  height: 88px;
  margin-right: 15px;
}

.chose-date__date-items:hover {
  background-color: #FE8E05;
  cursor: pointer;
  transition: 2s;
}

.chose-date__item-day {
  font-weight: bold;
  font-size: 30px;
}

.chose-date__item-day-week {
  font-size: 19px;
}

.chose-date__cinema {
  display: flex;
  flex-direction: column;
}

.chose-date__cinema-chose {
  margin-top: 13px;
  width: 470px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.15);
}

.chose-date__cinema-chose:focus {
  background: #FE8E05;
}

.chose-date__time {
  display: flex;
  flex-direction: column;
}

.chose-date__time-chose {
  margin-top: 13px;
  width: 108px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.15);
}

.chose-date__time-chose:focus {
  background: #FE8E05;
}

.chose-seats {
  min-width: 1170px;
  min-height: 686px;
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
  margin: auto;
}

.chose-seats__field {
  margin: auto;
  min-width: 1018px;
}

.chose-seats__block-screen {
  margin: 50px auto 0;
  border-top: 10px solid rgba(0, 0, 0, 0.39);
}

.chose-seats__block-1 {
  min-width: 909px;
  min-height: 176px;
}

.chose-seats__block-2 {
  width: 477px;
  height: 176px;
}

.chose-seats__block-3 {
  width: 477px;
  height: 176px;
}

.chose-seats__block-status {
  width: 409px;
  height: 29px;
}

.chose-seats__block-status, .chose-seats__status-free, .chose-seats__status-chosen, .chose-seats__status-busy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chose-seats__status-text {
  margin-left: 15px;
}

.chose-summ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
  padding-bottom: 158px;
}

.chose-summ__title {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}

.chose-summ__summ {
  font-size: 52px;
  line-height: 61px;
}

.chose-summ__button {
  width: 254px;
  height: 69px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.chose-summ__button:hover {
  background: #FE8E05;
  cursor: pointer;
  transition: 0.2s;
}

.chose-summ__button-text {
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #FFFFFF;
  width: 254px;
  height: 69px;
  display: inline-block;
  padding: 10%;
}
